/* You can add global styles to this file, and also import other style files */
:root {
--primary-color: hsl(150deg 30% 60%);
--secondary-color: hsl(140deg 30% 60%);
--tertiary-color: hsl(170deg 30% 60%);
}
